.flows_RKZ98-HP430.json.backup
[{"id":"2413d94c.30cb66","type":"tab","label":"myDashbard","disabled":false,"info":""},{"id":"1a5bd97d.63e3e7","type":"serial-port","z":"","serialport":"COM5","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false,"responsetimeout":"10000"},{"id":"c6f8e8a3.7d8db8","type":"ui_group","z":"","name":"Dados Tiva","tab":"e24a93be.ebb2a","order":1,"disp":true,"width":"6","collapse":false},{"id":"1d38dd5e.1dcc63","type":"ui_group","z":"","name":"Memory","tab":"e24a93be.ebb2a","order":2,"disp":true,"width":"6"},{"id":"e4ac0b57.4d36d8","type":"ui_group","z":"","name":"Arduino","tab":"e24a93be.ebb2a","order":3,"disp":true,"width":"6"},{"id":"e952a3ba.0eb26","type":"ui_group","z":"","name":"TwitterPosts","tab":"e24a93be.ebb2a","order":4,"disp":true,"width":"6"},{"id":"c9e27a03.940fe8","type":"ui_group","z":"","name":"Weather","tab":"e24a93be.ebb2a","order":5,"disp":true,"width":"6"},{"id":"503aeed9.030ad","type":"ui_group","z":"","name":"Sarahah-Notification","tab":"e24a93be.ebb2a","order":6,"disp":true,"width":"6"},{"id":"558155b5.772c6c","type":"ui_group","z":"","name":"Tweets","tab":"e24a93be.ebb2a","order":7,"disp":true,"width":"6"},{"id":"e24a93be.ebb2a","type":"ui_tab","z":"","name":"Sensores","icon":"dashboard","order":2},{"id":"d6e4c799.7eeee8","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"22fd4a14.204fe6","type":"ui_group","z":"","name":"Sysinfo","tab":"","order":1,"disp":true,"width":"6"},{"id":"803b736d.07a38","type":"ui_group","z":"","name":"Memory","tab":"","order":2,"disp":true,"width":"6"},{"id":"1c079c86.d19903","type":"ui_group","z":"","name":"Arduino","tab":"","order":3,"disp":true,"width":"6"},{"id":"40a5643a.ebb62c","type":"ui_group","z":"","name":"TwitterPosts","tab":"","order":4,"disp":true,"width":"6"},{"id":"ec4c3368.3607e","type":"ui_group","z":"","name":"Weather","tab":"","order":5,"disp":true,"width":"6"},{"id":"eec2bf80.cd8b7","type":"ui_group","z":"","name":"Sarahah-Notification","tab":"","order":6,"disp":true,"width":"6"},{"id":"4bc78399.30132c","type":"ui_group","z":"","name":"Tweets","tab":"","order":7,"disp":true,"width":"6"},{"id":"34ddee49.c3e902","type":"ui_group","z":"","name":"Sysinfo","tab":"","order":1,"disp":true,"width":"6"},{"id":"388fed5b.6afd42","type":"ui_group","z":"","name":"Memory","tab":"","order":2,"disp":true,"width":"6"},{"id":"f7b913f2.59ebc","type":"ui_group","z":"","name":"Arduino","tab":"","order":3,"disp":true,"width":"6"},{"id":"87750e4b.8a27a","type":"ui_group","z":"","name":"TwitterPosts","tab":"","order":4,"disp":true,"width":"6"},{"id":"cc94c469.778888","type":"ui_group","z":"","name":"Weather","tab":"","order":5,"disp":true,"width":"6"},{"id":"b0afe2e1.1c55","type":"ui_group","z":"","name":"Sarahah-Notification","tab":"","order":6,"disp":true,"width":"6"},{"id":"c0b77a5c.84da58","type":"ui_group","z":"","name":"Tweets","tab":"","order":7,"disp":true,"width":"6"},{"id":"7e5756d6.7a39f8","type":"ui_group","z":"","name":"Sysinfo","tab":"defa8b55.380008","order":1,"disp":true,"width":"6"},{"id":"4d4ea86b.66d5e8","type":"ui_group","z":"","name":"Memory","tab":"defa8b55.380008","order":2,"disp":true,"width":"6"},{"id":"efbc2fb5.9bd4f","type":"ui_group","z":"","name":"Arduino","tab":"defa8b55.380008","order":3,"disp":true,"width":"6"},{"id":"aa4179e7.cf39e8","type":"ui_group","z":"","name":"TwitterPosts","tab":"defa8b55.380008","order":4,"disp":true,"width":"6"},{"id":"ed865d6a.8fb5a","type":"ui_group","z":"","name":"Weather","tab":"defa8b55.380008","order":5,"disp":true,"width":"6"},{"id":"92bc379d.6c4448","type":"ui_group","z":"","name":"Sarahah-Notification","tab":"defa8b55.380008","order":6,"disp":true,"width":"6"},{"id":"5e3161b5.0a02c","type":"ui_group","z":"","name":"Tweets","tab":"defa8b55.380008","order":7,"disp":true,"width":"6"},{"id":"defa8b55.380008","type":"ui_tab","z":"","name":"Dashboard","icon":"dashboard","order":1},{"id":"9a30dd51.9f6fe","type":"OS","z":"2413d94c.30cb66","name":"","x":304.50000762939453,"y":68.50000190734863,"wires":[["5b8213f6.3b6fbc","61006f82.444da","6ae577b8.675918","b99ff426.7a0738"]]},{"id":"e60efa4e.631458","type":"inject","z":"2413d94c.30cb66","name":"update","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":true,"x":115.25,"y":106.75000190734863,"wires":[["9a30dd51.9f6fe","e40450a0.51cf1"]]},{"id":"405a0409.4ba0ec","type":"comment","z":"2413d94c.30cb66","name":"OS","info":"","x":85.5,"y":62.75,"wires":[]},{"id":"5b8213f6.3b6fbc","type":"function","z":"2413d94c.30cb66","name":"hostname","func":"msg.payload = msg.payload.hostname; \n\nreturn msg;","outputs":1,"noerr":0,"x":497.50000762939453,"y":41.25000190734863,"wires":[["bdab5936.5fd178"]]},{"id":"bdab5936.5fd178","type":"ui_text","z":"2413d94c.30cb66","group":"7e5756d6.7a39f8","order":2,"width":0,"height":0,"name":"hostname","label":"Hostname","format":"{{msg.payload}}","layout":"row-spread","x":680.0000076293945,"y":41.25000190734863,"wires":[]},{"id":"d5e55104.f0d74","type":"ui_text","z":"2413d94c.30cb66","group":"7e5756d6.7a39f8","order":1,"width":0,"height":0,"name":"OS","label":"OS","format":"{{msg.payload}}","layout":"row-spread","x":665.0000076293945,"y":80.00000190734863,"wires":[]},{"id":"61006f82.444da","type":"function","z":"2413d94c.30cb66","name":"osType","func":"msg.payload = msg.payload.type; \nreturn msg;","outputs":1,"noerr":0,"x":500.00000762939453,"y":87.50000381469727,"wires":[["d5e55104.f0d74"]]},{"id":"6ae577b8.675918","type":"function","z":"2413d94c.30cb66","name":"platform","func":"msg.payload = msg.payload.platform; \nreturn msg;","outputs":1,"noerr":0,"x":498.75000762939453,"y":136.25000381469727,"wires":[["e44e1525.2b7638"]]},{"id":"b99ff426.7a0738","type":"function","z":"2413d94c.30cb66","name":"arch","func":"msg.payload = msg.payload.arch;\nreturn msg;","outputs":1,"noerr":0,"x":491.25000762939453,"y":178.75000381469727,"wires":[["c3d580c9.ce55d"]]},{"id":"e44e1525.2b7638","type":"ui_text","z":"2413d94c.30cb66","group":"7e5756d6.7a39f8","order":0,"width":0,"height":0,"name":"platform","label":"platform","format":"{{msg.payload}}","layout":"row-spread","x":673.7500076293945,"y":121.25000381469727,"wires":[]},{"id":"c3d580c9.ce55d","type":"ui_text","z":"2413d94c.30cb66","group":"7e5756d6.7a39f8","order":0,"width":0,"height":0,"name":"arch","label":"Arch","format":"{{msg.payload}}","layout":"row-spread","x":666.2500076293945,"y":165.00000381469727,"wires":[]},{"id":"8ec2eb9a.21a148","type":"function","z":"2413d94c.30cb66","name":"","func":"msg.payload = msg.payload.memusage;\nreturn msg;","outputs":1,"noerr":0,"x":496.25000381469727,"y":280.00000762939453,"wires":[["7a2c5a61.afda04"]]},{"id":"7a2c5a61.afda04","type":"ui_gauge","z":"2413d94c.30cb66","name":"Memory Usage","group":"4d4ea86b.66d5e8","order":1,"width":"0","height":"0","gtype":"gage","title":"1 Minute","label":"Usage","format":"{{value | number:2}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"x":671.5000076293945,"y":276.50000762939453,"wires":[]},{"id":"34503179.ca7bfe","type":"function","z":"2413d94c.30cb66","name":"","func":"function formatBytes(bytes,decimals) {\n   if(bytes === 0) return '0 Byte';\n   var k = 1000; // or 1024 for binary\n   var dm = decimals + 1 || 3;\n   var sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];\n   var i = Math.floor(Math.log(bytes) / Math.log(k));\n   return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];\n}\n\nmsg.payload = formatBytes(msg.payload.totalmem);\nreturn msg;","outputs":1,"noerr":0,"x":500.75000381469727,"y":320.50000858306885,"wires":[["c2465183.61948"]]},{"id":"3b1f8903.fec1c6","type":"function","z":"2413d94c.30cb66","name":"","func":"function formatBytes(bytes,decimals) {\n   if(bytes === 0) return '0 Byte';\n   var k = 1000; // or 1024 for binary\n   var dm = decimals + 1 || 3;\n   var sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];\n   var i = Math.floor(Math.log(bytes) / Math.log(k));\n   return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];\n}\n\nmsg.payload = formatBytes(msg.payload.freemem);\nreturn msg;","outputs":1,"noerr":0,"x":502.50000762939453,"y":360.25000953674316,"wires":[["ae9b92ae.f17"]]},{"id":"c2465183.61948","type":"ui_text","z":"2413d94c.30cb66","group":"4d4ea86b.66d5e8","order":2,"width":"0","height":"0","name":"","label":"Total Memory","format":"{{msg.payload}}","layout":"row-spread","x":673.0000076293945,"y":319.5000057220459,"wires":[]},{"id":"ae9b92ae.f17","type":"ui_text","z":"2413d94c.30cb66","group":"4d4ea86b.66d5e8","order":3,"width":"0","height":"0","name":"","label":"Free Memory","format":"{{msg.payload}}","layout":"row-spread","x":658.2500076293945,"y":361.25000858306885,"wires":[]},{"id":"6a5058c1.bfa878","type":"function","z":"2413d94c.30cb66","name":"","func":"msg.payload = msg.payload.memusage;\nreturn msg;","outputs":1,"noerr":0,"x":498.25000762939453,"y":237.25000667572021,"wires":[["cf65e52e.181f78"]]},{"id":"cf65e52e.181f78","type":"ui_chart","z":"2413d94c.30cb66","name":"Memory - 24 Hours","group":"4d4ea86b.66d5e8","order":0,"width":"0","height":"0","label":"24 Hours","chartType":"line","legend":"false","xformat":"%H:%M:%S","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":"","colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":682.5000076293945,"y":229.00000762939453,"wires":[[],[]]},{"id":"a31d738a.3bb44","type":"comment","z":"2413d94c.30cb66","name":"Memory Usage","info":"","x":303.75000762939453,"y":141.50000286102295,"wires":[]},{"id":"e40450a0.51cf1","type":"Memory","z":"2413d94c.30cb66","name":"","x":305.00000762939453,"y":193.7500057220459,"wires":[["6a5058c1.bfa878","8ec2eb9a.21a148","34503179.ca7bfe","3b1f8903.fec1c6","4f678880.7bd1e8"]]},{"id":"89ac6cd6.646aa","type":"ui_template","z":"2413d94c.30cb66","group":"aa4179e7.cf39e8","name":"TwitterPosts","order":0,"width":"6","height":"3","format":"Lastest posts\n<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":false,"fwdInMessages":true,"x":453.75000762939453,"y":471.2500071525574,"wires":[[]]},{"id":"4f678880.7bd1e8","type":"function","z":"2413d94c.30cb66","name":"","func":"msg.payload = msg.payload.memusage;\nreturn msg;","outputs":1,"noerr":0,"x":475,"y":423.75,"wires":[["8abc24b5.8812f8"]]},{"id":"8abc24b5.8812f8","type":"ui_chart","z":"2413d94c.30cb66","name":"Memory - 24 Hours","group":"efbc2fb5.9bd4f","order":5,"width":"0","height":"0","label":"24 Hours","chartType":"line","legend":"false","xformat":"%H:%M:%S","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":"","colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":659.25,"y":415.5000009536743,"wires":[[],[]]},{"id":"c96d88e3.579ec8","type":"comment","z":"2413d94c.30cb66","name":"Sarahah","info":"","x":643.7500076293945,"y":475.0000066757202,"wires":[]},{"id":"43c14e17.bacd2","type":"http in","z":"2413d94c.30cb66","name":"","url":"127.0.0.1","method":"get","swaggerDoc":"","x":650.0000114440918,"y":513.7500076293945,"wires":[["7d24760a.2e7e58"]]},{"id":"7d24760a.2e7e58","type":"ui_text","z":"2413d94c.30cb66","group":"92bc379d.6c4448","order":0,"width":0,"height":0,"name":"","label":"Saraha Inbox","format":"0","layout":"row-spread","x":858.7500114440918,"y":505.00000762939453,"wires":[]},{"id":"e79309fe.53cd98","type":"comment","z":"2413d94c.30cb66","name":"Welcome !","info":"","x":807.5000152587891,"y":91.25000095367432,"wires":[]},{"id":"49a9abcc.62eac4","type":"inject","z":"2413d94c.30cb66","name":"","topic":"","payload":"Thank you ! ","payloadType":"str","repeat":"","crontab":"","once":false,"x":840.0000152587891,"y":141.25000190734863,"wires":[["d32596ec.1494d8"]]},{"id":"d32596ec.1494d8","type":"debug","z":"2413d94c.30cb66","name":"","active":true,"console":"false","complete":"false","x":982.5000152587891,"y":106.25000286102295,"wires":[]},{"id":"f09d2a54.d71118","type":"comment","z":"2413d94c.30cb66","name":"Arduino","info":"","x":106.25000381469727,"y":360.0000057220459,"wires":[]},{"id":"476e537f.72344c","type":"ui_switch","z":"2413d94c.30cb66","name":"","label":"switch","group":"efbc2fb5.9bd4f","order":1,"width":0,"height":0,"passthru":true,"topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":111.25,"y":402.5000057220459,"wires":[["6a340cb0.1fadb4","f9b92920.1eb728"]]},{"id":"6a340cb0.1fadb4","type":"ui_text","z":"2413d94c.30cb66","group":"efbc2fb5.9bd4f","order":2,"width":0,"height":0,"name":"LED","label":"LedState","format":"{{msg.payload}}","layout":"row-spread","x":236.25000381469727,"y":328.7500057220459,"wires":[]},{"id":"f11c9de0.7fdae","type":"comment","z":"2413d94c.30cb66","name":"Twitter","info":"","x":112.50000381469727,"y":458.7500069141388,"wires":[]},{"id":"f9b92920.1eb728","type":"ui_slider","z":"2413d94c.30cb66","name":"","label":"slider","group":"efbc2fb5.9bd4f","order":3,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"100","step":1,"x":250.00000381469727,"y":380.0000057220459,"wires":[["247cca04.808ff6"]]},{"id":"247cca04.808ff6","type":"ui_text","z":"2413d94c.30cb66","group":"efbc2fb5.9bd4f","order":4,"width":0,"height":0,"name":"SlideValue","label":"","format":"{{msg.payload}}","layout":"col-center","x":303.75,"y":441.25,"wires":[]},{"id":"7ff912ee.be83bc","type":"openweathermap in","z":"2413d94c.30cb66","name":"Weather","lon":"","lat":"","city":"Tunis","country":"Tunisia","language":"en","x":120,"y":600.0000085830688,"wires":[["838306b8.babf58","97b73540.061078","8d34d158.9d6f6","63443c5e.c5e934"]]},{"id":"a73475c3.c64a68","type":"ui_text","z":"2413d94c.30cb66","group":"ed865d6a.8fb5a","order":0,"width":0,"height":0,"name":"wather","label":"weather today","format":"{{msg.payload}}","layout":"row-spread","x":515.0000076293945,"y":561.2500095367432,"wires":[]},{"id":"838306b8.babf58","type":"function","z":"2413d94c.30cb66","name":"weatherState","func":"msg.payload = msg.payload.weather\nreturn msg;","outputs":1,"noerr":0,"x":323.75000762939453,"y":576.2500095367432,"wires":[["a73475c3.c64a68"]]},{"id":"78ef6cc9.b7e424","type":"comment","z":"2413d94c.30cb66","name":"weather","info":"","x":111.25,"y":557.5000081062317,"wires":[]},{"id":"97b73540.061078","type":"function","z":"2413d94c.30cb66","name":"Loacation","func":"msg.payload = msg.payload.location\nreturn msg;","outputs":1,"noerr":0,"x":315.00000762939453,"y":612.5000095367432,"wires":[["586d012b.e4061"]]},{"id":"8d34d158.9d6f6","type":"function","z":"2413d94c.30cb66","name":"detail","func":"msg.payload = msg.payload.detail;\nreturn msg;","outputs":1,"noerr":0,"x":308.75000381469727,"y":658.7500095367432,"wires":[["8d006981.f4f7e8"]]},{"id":"586d012b.e4061","type":"ui_text","z":"2413d94c.30cb66","group":"ed865d6a.8fb5a","order":0,"width":0,"height":0,"name":"Location","label":"Location","format":"{{msg.payload}}","layout":"row-spread","x":521.25,"y":611.25,"wires":[]},{"id":"8d006981.f4f7e8","type":"ui_text","z":"2413d94c.30cb66","group":"ed865d6a.8fb5a","order":0,"width":0,"height":0,"name":"detail","label":"detail","format":"{{msg.payload}}","layout":"row-spread","x":512.5000076293945,"y":657.5000095367432,"wires":[]},{"id":"63443c5e.c5e934","type":"function","z":"2413d94c.30cb66","name":"description","func":"msg.payload = msg.payload.description\nreturn msg;","outputs":1,"noerr":0,"x":325.00000381469727,"y":698.7500114440918,"wires":[["72b3333a.36258c"]]},{"id":"72b3333a.36258c","type":"ui_text","z":"2413d94c.30cb66","group":"ed865d6a.8fb5a","order":0,"width":0,"height":0,"name":"description","label":"","format":"{{msg.payload}}","layout":"row-center","x":531.2500076293945,"y":698.7500104904175,"wires":[]},{"id":"a70a7f2a.c0177","type":"ui_toast","z":"2413d94c.30cb66","position":"top right","displayTime":"2","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":903.7500152587891,"y":677.5000097751617,"wires":[]},{"id":"30251dda.d98182","type":"ui_form","z":"2413d94c.30cb66","name":"","label":"","group":"5e3161b5.0a02c","order":0,"width":0,"height":0,"options":[{"label":"Tweet","value":"mytxt","type":"text","required":true}],"formValue":{"mytxt":""},"payload":"","topic":"","x":642.5000076293945,"y":598.7500095367432,"wires":[["315adeeb.8c75e2","d24564c1.7bb0b8"]]},{"id":"315adeeb.8c75e2","type":"function","z":"2413d94c.30cb66","name":"","func":"msg.payload = msg.payload.mytxt;\nreturn msg;","outputs":1,"noerr":0,"x":758.7500114440918,"y":620.0000095367432,"wires":[[]]},{"id":"f8849e0d.fbb49","type":"comment","z":"2413d94c.30cb66","name":"postToTwitter","info":"","x":668.7500114440918,"y":557.5000076293945,"wires":[]},{"id":"d24564c1.7bb0b8","type":"function","z":"2413d94c.30cb66","name":"","func":"msg.payload = msg.payload.mytxt +\" @Ih3b_b3N_s4l3m [200 ok]\";\nreturn msg;","outputs":1,"noerr":0,"x":716.2500152587891,"y":665.0000095367432,"wires":[["a70a7f2a.c0177"]]},{"id":"4f5c5571.61dd8c","type":"serial in","z":"2413d94c.30cb66","name":"","serial":"1a5bd97d.63e3e7","x":175,"y":789.9999389648438,"wires":[["8b7e7c88.76054","1ea5ea75.dc19a6"]]},{"id":"9bc3c19e.67427","type":"ui_gauge","z":"2413d94c.30cb66","name":"","group":"c6f8e8a3.7d8db8","order":0,"width":0,"height":0,"gtype":"gage","title":"Monitoramento","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":639,"y":917.9999389648438,"wires":[]},{"id":"8b7e7c88.76054","type":"function","z":"2413d94c.30cb66","name":"Split","func":"var myVars = msg.payload.split(\",\");\n\nvar result = {};\nmyVars.forEach(function(v) {\n   var parts = v.split(\" : \");\n   result[parts[0]] = parts[1];\n});\n\nmsg.payload = result;\nreturn msg;\n","outputs":1,"noerr":0,"x":282,"y":966.9999389648438,"wires":[["68c50302.8148bc","a81a8025.fd0bf","10d8e30f.7cbcfd"]]},{"id":"68c50302.8148bc","type":"function","z":"2413d94c.30cb66","name":"","func":"msg.payload = msg.payload.a\nreturn msg;","outputs":1,"noerr":0,"x":414,"y":907.9999389648438,"wires":[["9bc3c19e.67427"]]},{"id":"a81a8025.fd0bf","type":"function","z":"2413d94c.30cb66","name":"","func":"msg.payload = msg.payload.b\nreturn msg;","outputs":1,"noerr":0,"x":438,"y":980.9999389648438,"wires":[["8e24f51a.3c65f8"]]},{"id":"8e24f51a.3c65f8","type":"ui_gauge","z":"2413d94c.30cb66","name":"","group":"c6f8e8a3.7d8db8","order":0,"width":0,"height":0,"gtype":"gage","title":"Monitoramento 2","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":667,"y":1006.9999389648438,"wires":[]},{"id":"1ea5ea75.dc19a6","type":"debug","z":"2413d94c.30cb66","name":"Debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":390,"y":805.9999389648438,"wires":[]},{"id":"10d8e30f.7cbcfd","type":"function","z":"2413d94c.30cb66","name":"","func":"msg.payload = msg.payload.c\nreturn msg;","outputs":1,"noerr":0,"x":437,"y":1079.9999389648438,"wires":[["d7bcba4e.5a8088"]]},{"id":"d7bcba4e.5a8088","type":"ui_slider","z":"2413d94c.30cb66","name":"","label":"slider","group":"c6f8e8a3.7d8db8","order":0,"width":0,"height":0,"passthru":false,"outs":"all","topic":"","min":0,"max":"100","step":1,"x":618,"y":1084.9999389648438,"wires":[[]]}]